@import './mixin/_mixins';
$primary: #007bff;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
html {
    scroll-behavior: smooth !important;
}

a,
ul,
li,
ol {
    list-style: none;
    text-decoration: none;
}

textarea {
    resize: vertical;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.container {
    @include center(80%);
}

$size: 8px;
@for $i from 1 to 5 {
    $size: $size + 5px;
    .fs-#{$i} {
        font-size: $size;
    }
    .p-#{$i} {
        padding: $size;
    }
    .pt-#{$i} {
        padding-block-start: $size;
    }
    .m-#{$i} {
        margin: $size;
    }
    .mt-#{$i} {
        margin-block-start: $size;
    }
}

.bg-tranparent {
    background-color: transparent !important;
}

.bg-white {
    background-color: aliceblue;
}

.bg-black {
    background-color: rgb(44, 44, 44);
}

main {
    margin-inline-start: 6rem;
    overflow: hidden;
}

.navbar {
    transition: .2s;
    z-index: 999;
    padding-block-start: 30px;
    block-size: 100vh;
    position: fixed;
    inline-size: 6rem;
    // background-color: #D9AFD9;
    // background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-color: #1a1919;
}

.active {
    background-color: black;
    border: 6px solid white;
    color: white !important;
    transition: 0.5s;
    font-size: 30px;
}

.nav-item {
    text-decoration: none;
    color: rgb(114, 114, 114);
    transition: .5s;
    &:hover {
        color: white;
        transition: .5s;
    }
    margin: 10px;
    text-align: center;
    border-radius: 18px;
    padding: 15px 5px;
}

::-webkit-scrollbar {
    inline-size: 4px;
}

::-webkit-scrollbar-thumb {
    background: black;
}

.text-center {
    text-align: center;
}

@media only screen and (max-inline-size: 576px) {
    .navbar {
        padding: 0 10px;
        block-size: 5rem;
        inline-size: 100vw;
        inset-block-end: 0;
        border-radius: 25px 25px 0 0;
    }
    .navbar-nav {
        margin: 0 auto;
        text-align: center;
        font-size: 10px;
    }
    .nav-item {
        display: inline-block;
        padding: 15px;
    }
    .active {
        font-size: 15px;
        border: 3px solid white;
    }
    main {
        margin: 0;
    }
}

.sec {
    block-size: 100vh;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slide img {
    inline-size: 100%;
    block-size: 100vh;
    object-fit: cover;
}

.slide {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    inset-block-start: 50%;
    inline-size: auto;
    margin-block-start: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    inset-inline-end: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.contact-info p {
    font-size: 18px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.appear {
    animation-name: appear;
    animation-duration: 2s;
}

@keyframes appear {
    from {
        opacity: .3;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
    }
}

[data-appear="true"] {
    visibility: hidden;
}

.form_control {
    inline-size: 80%;
    margin: 0 auto;
    .form_field {
        inline-size: 100%;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        outline: none;
        border: solid 2px $gray;
    }
    input.form_field {
        &:focus {
            border: solid 2px $primary;
            &~.form_label {
                bottom: 55px;
                transition: .5s;
                background-color: white;
                font-size: 20px;
                color: $primary;
            }
        }
    }
    textarea.form_field {
        &:focus {
            border: solid 2px $primary;
            &~.form_label {
                top: -20px;
                transition: .5s;
                background-color: white;
                font-size: 20px;
                color: $primary;
            }
        }
    }
    .form_label {
        padding: 0 5px;
        transition: .5s;
        position: relative;
        inset-block-end: 32px;
        inset-inline-start: 20px;
    }
}